
<div class="container-fluid mt-5">
    <div class="row " style="padding: 0 !important; margin-top: 80px !important">
        <div class="col-10 text-center mx-auto container-destacado">
            <div>
                <h3 class="titleH3 font-bigger my-3">Bem-vindo</h3>
                <p class="font-big my-3">Faça a gestão ambiental de sua organização</p>
                <p class="font-big my-3">Minimize impactos ambientais</p>
                <p class="font-big my-3">Obtenha o certificado ISO 14000</p>
                <button class="btn-grande"><a href="">Definir metas</a></button>
                <button class="btn-grande"><a href="">Acompanhar progresso</a></button>
                <button class="btn-grande"><a href="">Resultados obtidos</a></button>
            </div>
        </div>
    </div>
</div>
